Source: sonic-cel-platform-modules
Section: main
Priority: extra
Maintainer: Wirut Getbamrung <wgetbumr@celestica.com>
Build-Depends: debhelper-compat (= 13), python3
Rules-Requires-Root: no
Standards-Version: 3.9.3

Package: platform-modules-dx010
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp


Package: platform-modules-haliburton
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-seastone2
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp

Package: platform-modules-silverstone
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp.

Package: platform-modules-ds1000
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp

Package: platform-modules-questone2
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp

Package: platform-modules-ds3000
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp

Package: platform-modules-silverstone-v2
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp

Package: platform-modules-ds2000
Architecture: amd64
Depends: linux-image-6.12.41+deb13-sonic-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp
