#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKE_FLAGS += -j$(NUMJOBS)
endif

KVERSION    ?= $(shell uname -r)
KERNEL_SRC  :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR := $(shell pwd)

export INSTALL_MOD_DIR := extra
export KBUILD_EXTRA_SYMBOLS := $(KERNEL_SRC)/Module.symvers.PDDF

PACKAGE_PRE_NAME := platform-modules

MODULE_DIRS := dx010 haliburton silverstone seastone2 ds1000 questone2 silverstone-v2 ds2000 ds3000

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_configure:
	(set -e; for mod in $(MODULE_DIRS); do \
		if [ -f $(MOD_SRC_DIR)/$${mod}/setup.py ]; then \
			PYBUILD_NAME=$${mod} pybuild --configure -d $${mod}; \
		fi; \
	done)

override_dh_auto_build:
	(set -e; for mod in $(MODULE_DIRS); do \
		$(MAKE) $(MAKE_FLAGS) -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules modules; \
		if [ -f $(MOD_SRC_DIR)/$${mod}/setup.py ]; then \
			PYBUILD_NAME=$${mod} pybuild --build -d $${mod}; \
		fi; \
		if [ -f $(MOD_SRC_DIR)/$${mod}/pddf/setup.py ]; then \
			python3 -m build --no-isolation --wheel --outdir $(MOD_SRC_DIR)/build-$${mod} $(MOD_SRC_DIR)/$${mod}/pddf; \
			echo "Finished making pddf whl package for $$mod"; \
		fi; \
	done)

override_dh_usrlocal:
	# Ignore making directories

override_dh_auto_test:
	# No tests to run

override_dh_auto_install:
	(set -e; for mod in $(MODULE_DIRS); do \
		$(MAKE) -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules INSTALL_MOD_PATH=$(MOD_SRC_DIR)/debian/$(PACKAGE_PRE_NAME)-$${mod} modules_install; \
		if [ -f $(MOD_SRC_DIR)/$${mod}/setup.py ]; then \
			PYBUILD_NAME=$${mod} pybuild --install -d $${mod} --dest-dir debian/$(PACKAGE_PRE_NAME)-$${mod}; \
		fi; \
	done)

override_dh_auto_clean:
	(set -e; for mod in $(MODULE_DIRS); do \
		rm -rf $(MOD_SRC_DIR)/build-$${mod}; \
		$(MAKE) clean -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules; \
		if [ -f $(MOD_SRC_DIR)/$${mod}/setup.py ]; then \
			PYBUILD_NAME=$${mod} pybuild --clean -d $${mod}; \
		fi; \
	done)
	dh_clean
