[Unit]
Description=SONiC U-Boot Environment Initialization
Documentation=man:fw_setenv(8)
DefaultDependencies=no
After=local-fs.target systemd-udev-settle.service
Wants=systemd-udev-settle.service
Before=sonic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sonic-uboot-env-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

