Source: bluefield-platform-modules
Section: main
Priority: extra
Maintainer: Vivek Reddy Karri <vkarri@nvidia.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: bluefield-platform-modules
Version: 2.0
Architecture: arm64
Description: Kernel modules, udev rules, and system configuration files for the Nvidia Bluefield platform.
