{%- macro generate_global_dscp_to_tc_map() %}
{# This is an empty macro since the global DSCP_TO_TC map is not required #}
{%- endmacro %}

{%- macro generate_qos_bypass_port_list(PORT_QOS_BYPASS) %}
    {# Generate list of ports #}
    {%- for port_idx in range(256, 261, 4) %}
        {%- if PORT_QOS_BYPASS.append("Ethernet%d" % (port_idx)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}

{%- include 'qos_config.j2' %}
