- bus: '00'
  dev: '00'
  fn: '0'
  id: 14b5
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe Root
    Complex (rev 01)'
- bus: '00'
  dev: '00'
  fn: '2'
  id: 14b6
  name: 'IOMMU: Advanced Micro Devices, Inc. [AMD] Family 17h-19h IOMMU'
- bus: '00'
  dev: '01'
  fn: '0'
  id: 14b7
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe Dummy
    Host Bridge (rev 01)'
- bus: '00'
  dev: '01'
  fn: '2'
  id: 14b8
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe GPP Bridge'
- bus: '00'
  dev: '02'
  fn: '0'
  id: 14b7
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe Dummy
    Host Bridge (rev 01)'
- bus: '00'
  dev: '02'
  fn: '1'
  id: 14ba
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe GPP Bridge'
- bus: '00'
  dev: '02'
  fn: '2'
  id: 14ba
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe GPP Bridge'
- bus: '00'
  dev: '02'
  fn: '4'
  id: 14ba
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe GPP Bridge'
- bus: '00'
  dev: '03'
  fn: '0'
  id: 14b7
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe Dummy
    Host Bridge (rev 01)'
- bus: '00'
  dev: '04'
  fn: '0'
  id: 14b7
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe Dummy
    Host Bridge (rev 01)'
- bus: '00'
  dev: 08
  fn: '0'
  id: 14b7
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h PCIe Dummy
    Host Bridge (rev 01)'
- bus: '00'
  dev: 08
  fn: '1'
  id: 14b9
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h Internal PCIe
    GPP Bridge (rev 10)'
- bus: '00'
  dev: 08
  fn: '2'
  id: 14b9
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h Internal PCIe
    GPP Bridge (rev 10)'
- bus: '00'
  dev: 08
  fn: '3'
  id: 14b9
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Family 17h-19h Internal PCIe
    GPP Bridge (rev 10)'
- bus: '00'
  dev: '14'
  fn: '0'
  id: 790b
  name: 'SMBus: Advanced Micro Devices, Inc. [AMD] FCH SMBus Controller (rev 71)'
- bus: '00'
  dev: '14'
  fn: '3'
  id: '1682'
  name: 'ISA bridge: Advanced Micro Devices, Inc. [AMD] Device 1682 (rev 51)'
- bus: '{{asic_bus}}'
  dev: '00'
  fn: '0'
  id: f900
  name: 'Ethernet controller: Broadcom Inc. and subsidiaries BCM78900 Switch ASIC
    [Tomahawk5] (rev 11)'
- bus: '{{cpu_card_fpga_bus}}'
  dev: '00'
  fn: '0'
  id: '7011'
  name: 'Serial controller: Xilinx Corporation 7-Series FPGA Hard PCIe block (AXI/debug)'
- bus: '{{switchcard_fpga_bus}}'
  dev: '00'
  fn: '0'
  id: '7012'
  name: 'Serial controller: Xilinx Corporation Device 7012'
- bus: '{{nvme_bus}}'
  dev: '00'
  fn: '0'
  id: 110b
  name: 'Non-Volatile memory controller: ATP ELECTRONICS INC Device 110b (rev 03)'
- bus: '{{amd_soc_group_1_bus}}'
  dev: '00'
  fn: '2'
  id: '1649'
  name: 'Encryption controller: Advanced Micro Devices, Inc. [AMD] VanGogh PSP/CCP'
- bus: '{{amd_soc_group_2_bus}}'
  dev: '00'
  fn: '0'
  id: 145a
  name: 'Non-Essential Instrumentation [1300]: Advanced Micro Devices, Inc. [AMD]
    Zeppelin/Raven/Raven2 PCIe Dummy Function (rev a1)'
- bus: '{{amd_soc_group_2_bus}}'
  dev: '00'
  fn: '2'
  id: '1458'
  name: 'Ethernet controller: Advanced Micro Devices, Inc. [AMD] XGMAC 10GbE Controller'
- bus: '{{amd_soc_group_2_bus}}'
  dev: '00'
  fn: '3'
  id: '1458'
  name: 'Ethernet controller: Advanced Micro Devices, Inc. [AMD] XGMAC 10GbE Controller'
