[Unit]
Description=Update DNS configuration
Requires=updategraph.service
After=updategraph.service
After=sonic.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/resolv-config.sh start

