[Unit]
Description=Configure midplane interface
Before=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bfnet.sh configure-midplane-iface
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
