Source: sswsyncd
Section: net
Priority: optional
Maintainer: SONiC Team <sonic-dev@lists.sonicfoundation.dev>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/sonic-net/sonic-buildimage

Package: sswsyncd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Broadcom Switch State service utilities
 This package contains dsserve and bcmcmd utilities for
 Broadcom switch state services in SONiC.
