#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
include /usr/share/dpkg/pkg-info.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export INSTALL_MOD_DIR:=extra

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKE_FLAGS += -j$(NUMJOBS)
endif

PACKAGE_PRE_NAME := sonic-platform-pddf
PACKAGE_SYM_NAME := sonic-platform-pddf-sym
export PYBUILD_DESTDIR:=debian/$(PACKAGE_PRE_NAME)
KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)
UTILS_DIR := utils

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	$(MAKE) -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR) clean
	dh_auto_clean

override_dh_auto_build:
	$(MAKE) $(MAKE_FLAGS) -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR) modules
	dh_auto_build

override_dh_auto_test:
	# No tests to run

override_dh_auto_install:
	$(MAKE) -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR) INSTALL_MOD_PATH=$(MOD_SRC_DIR)/debian/tmp modules_install
	dh_installdirs -p$(PACKAGE_PRE_NAME) $(KERNEL_SRC)/$(INSTALL_MOD_DIR)
	find debian/tmp -name '*.ko*' -exec mv -t debian/$(PACKAGE_PRE_NAME)/$(KERNEL_SRC)/$(INSTALL_MOD_DIR) {} +
	dh_installdirs -p$(PACKAGE_SYM_NAME) $(KERNEL_SRC)
	cp $(MOD_SRC_DIR)/Module.symvers debian/$(PACKAGE_SYM_NAME)/$(KERNEL_SRC)/Module.symvers.PDDF
	# This really should not be getting installed into /usr/local/bin, but I don't know
	# how many hardcoded references there are to this path
	dh_installdirs -p$(PACKAGE_PRE_NAME) usr/local/bin
	cp -r $(MOD_SRC_DIR)/$(UTILS_DIR)/* debian/$(PACKAGE_PRE_NAME)/usr/local/bin/
	dh_auto_install

override_dh_usrlocal:
	# Skip because we're installing files into /usr/local/bin, breaking Debian policy

override_dh_strip:
	dh_installdirs -p$(PACKAGE_PRE_NAME)-dbgsym usr/lib/debug/$(KERNEL_SRC)/$(INSTALL_MOD_DIR)/
	find debian/$(PACKAGE_PRE_NAME)/$(KERNEL_SRC)/$(INSTALL_MOD_DIR) -name '*.ko*' -execdir objcopy --only-keep-debug {} $(MOD_SRC_DIR)/debian/$(PACKAGE_PRE_NAME)-dbgsym/usr/lib/debug/$(KERNEL_SRC)/$(INSTALL_MOD_DIR)/{} \;
	find debian/$(PACKAGE_PRE_NAME)/$(KERNEL_SRC)/$(INSTALL_MOD_DIR) -name '*.ko*' -exec objcopy --strip-debug {} \;
	dh_strip
