[Unit]
Description=Starts rshim driver for all DPUs
After=network.target
Wants=rshim@0.service rshim@1.service rshim@2.service rshim@3.service

[Service]
Type=oneshot
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
