Package: kernel-mft-dkms-modules-{{kversion}}
Source: kernel-mft-dkms-dkms-bin
Version: {{mft_version}}
Architecture: arm64
Maintainer: Vivek Reddy <vkarri@nvidia.com>
Provides: kernel-mft-dkms-modules
Section: misc
Priority: optional
Description: kernel-mft-dkms binary drivers for linux-image-{{kversion}} Kernel
