{%- set default_cable = '5m' %}

{%- include 'buffer_ports.j2' %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_lossless_pool": {
            "size": "163961572",
            "type": "ingress",
            "mode": "dynamic",
            "xoff": "21279104"
        },
        "egress_lossless_pool": {
            "size": "163961572",
            "type": "egress",
            "mode": "static"
        }
    },
    "BUFFER_PROFILE": {
        "egress_lossy_profile": {
            "pool": "egress_lossless_pool",
            "size": "1778",
            "dynamic_th": "0"
        },
        "egress_lossless_profile": {
            "pool": "egress_lossless_pool",
            "size": "0",
            "static_th": "165364160"
        },
        "ingress_lossy_profile": {
            "pool": "ingress_lossless_pool",
            "size": "0",
            "static_th": "165364160"
        }
    },
{%- endmacro %}
