
{%- set default_cable = '40m' %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_pool1": {
            "mode": "dynamic",
            "size": "22000000",
            "type": "ingress"
        },
        "ingress_pool2": {
            "mode": "dynamic",
            "size": "1000000",
            "type": "ingress"
        },
        "egress_pool1": {
            "mode": "dynamic",
            "size": "22000000",
            "type": "egress"
        },
        "egress_pool2": {
            "mode": "dynamic",
            "size": "1000000",
            "type": "egress"
        }
    },
    "BUFFER_PROFILE": {
        "egress_lossless_profile": {
            "pool": "egress_pool1",
            "size": "0",
            "dynamic_th": "1"
        },
        "egress_lossy_profile": {
            "pool": "egress_pool2",
            "size": "0",
            "dynamic_th": "1"
        },
        "ingress_lossless_profile": {
            "pool": "ingress_pool1",
            "size": "0",
            "dynamic_th": "-3"
        },
        "ingress_lossy_profile": {
            "pool": "ingress_pool2",
            "size": "0",
            "dynamic_th": "-3"
        }
    },
{%- endmacro %}
