[Unit]
Description=Synchronize ADM1266 RTC every 5 minutes
After=pddf-platform-init.service
Requires=pddf-platform-init.service

[Timer]
Unit=adm1266-rtc-sync.service

# Run every 5 minutes
OnUnitActiveSec=5min

# Run immediately after system boot (but still wait for pddf-platform-init.service)
OnBootSec=0

[Install]
WantedBy=timers.target
