[Unit]
Description=Asic temperature sensor enable service
Requires=swss.service pddf-platform-init.service
After=swss.service pddf-platform-init.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/asic-temp-sensor-enable.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
