[Unit]
Description=Pensando DPU health status provider and chassis state db util service
After=dpu-platform-init.service

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/dpu_db_util.py
Restart=always
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
