[Unit]
Description=dpu config db provisioning
Requires=docker.service
After=docker.service
After=dpu.service
Requires=dpu.service
Before=database.service

[Service]
User=root
ExecStart=/usr/local/bin/dpu_provisioning.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
