!
! template: bgpd/templates/BGPMON/peer-group.conf.j2
!
{% if CONFIG_DB__DEVICE_METADATA['localhost']['switch_type'] == 'voq' and ('chassisdb_conf_present' in CONFIG_DB__DEVICE_METADATA['localhost'] or
      '/usr/share/sonic/platform/chassisdb.conf' | file_exists) %}
{% set voq_chassis = True %}
{% endif %}
  neighbor BGPMON peer-group
{% if voq_chassis is defined or CONFIG_DB__DEVICE_METADATA['localhost']['switch_type'] == 'chassis-packet' %}
  neighbor BGPMON update-source Loopback4096
{% elif loopback0_ipv4 %}
  neighbor BGPMON update-source {{ loopback0_ipv4 | ip }}
{% endif %}

  address-family ipv4
    neighbor BGPMON activate
    neighbor BGPMON route-map FROM_BGPMON in
    neighbor BGPMON route-map TO_BGPMON out
    neighbor BGPMON send-community
    neighbor BGPMON maximum-prefix 1
  exit-address-family

{% if CONFIG_DB__DEVICE_METADATA['localhost']['switch_type'] == 'voq' or CONFIG_DB__DEVICE_METADATA['localhost']['switch_type'] == 'chassis-packet' %}
  address-family ipv6
    neighbor BGPMON activate
    neighbor BGPMON route-map FROM_BGPMON in
    neighbor BGPMON route-map TO_BGPMON out
    neighbor BGPMON send-community
    neighbor BGPMON maximum-prefix 1
  exit-address-family
{% endif %}
!
! end of template: bgpd/templates/BGPMON/peer-group.conf.j2
!

