###############################################################################
## Monit configuration for telemetry container
###############################################################################
{%- if SMARTSWITCH is defined and SMARTSWITCH == "1" %}
check program container_memory_gnmi with path "/usr/bin/memory_checker gnmi 1073741824"
{%- else %}
check program container_memory_gnmi with path "/usr/bin/memory_checker gnmi 419430400"
{%- endif %}
    if status == 3 for 10 times within 20 cycles then exec "/usr/bin/restart_service gnmi" repeat every 2 cycles
