[Unit]
Description=Controle DPUs state
Requires=hw-management.service
After=hw-management.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/dpuctl.sh start

[Install]
WantedBy=multi-user.target
