{%- set default_cable = '5m' %}

{%- include 'buffer_ports.j2' %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_lossless_pool": {
            "size": "161176208",
            "type": "ingress",
            "mode": "dynamic",
            "xoff": "29520896"
        },
        "egress_lossless_pool": {
            "size": "161176208",
            "type": "egress",
            "mode": "dynamic"
        }
    },
    "BUFFER_PROFILE": {
        "ingress_lossy_profile": {
            "pool":"ingress_lossless_pool",
            "size":"0",
            "dynamic_th":"-1"
        },
        "egress_lossy_profile": {
            "pool":"egress_lossless_pool",
            "size":"0",
            "dynamic_th":"-4"
        },
        "egress_lossless_profile": {
            "pool":"egress_lossless_pool",
            "size":"0",
            "dynamic_th":"3"
        }
    },
{%- endmacro %}
