{% if module.path is defined %}
{% set path = module.path %}
{% else %}
{% set path = env('PLATFORM_PATH') %}
{% endif %}
{# Environment variables PLATFORM_REPO and PLATFORM_REF can be used to override the config in checkout file #}
{# PLATFORM_REPO overrides module.repo #}
{% set platform_repo = env('PLATFORM_REPO') or module.repo %}
{# PLATFORM_REF overrides module.ref #}
{% set platform_ref = env('PLATFORM_REF') or (module.ref if module.ref is defined else None) %}
if [ ! -d {{ path }} ]; then git clone {{ platform_repo }} {{ path }}; fi;
if [ -d {{ path }}/.git ]; then cd {{ path }} &&

{% if platform_ref %}
git checkout {{ platform_ref }} && git submodule update --init --recursive;
{% else %}
git submodule update --init --recursive;
{% endif %}

else echo "{{ path }}/.git not found"; exit 1; fi
