[Unit]
Description=Centec modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-micas-m2-w6010-48gt4x-ra start
ExecStop=-/etc/init.d/platform-modules-micas-m2-w6010-48gt4x-ra stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
